h2 #{result["title"]}

p #{result["content"]}

/visar skapare
/Behöver gå genom user_thread_relation för att ta fram username
p Av #{result2["username"]} 

/Formulär för att skriva kommentar. 
/comments


