form action="/posts/#{result['id']}/update" method="post"
    input type="text" name="quote" value="#{result['quote']}"
    input type="hidden" name="whosaidit" value="#{result['whosaidit']}"
    input type="submit" value="Edit!"